@media (max-width: 991px){
    .container{
        width: 600px;
    }
    .header{
        &__logo{
            width: 200px;
            img{
                width: 90%;
            }
        }
        &__official{
            span{
                font-size: 16px;
            }
        }
        &__phone{
            font-size: 16px;
        }
    }
    .promo__wraper{
        align-items:center;
    }
    .advantages{
        &__icons{
            flex-wrap: wrap;
        }
        &__section{
            &:nth-child(3){
                display: block;
                margin: 0 auto;
            }
        }
    }
    .feedback{
        padding: 80px 0 88px 0;
    }
    .title{
        &_left{
            font-size: 27px;
            line-height: 42px;
        }
    }
    .card{
        width: 242px;
        height: 442px;
        padding: 15px;
        &__price{
            &-old{
                font-size: 12px;
            }
            &-new{
                font-size: 16px;
            }
        }
        &__opportunities{
            width: 95%;
        }
        &__opportunity{
            font-size: 12px;
        }
        &__description{
            font-size: 12px;
        }
    }
    .button{
        &_small{
            width: 120px;
        }
    }
}
@media (max-width: 767px){
    .container{
        width: 500px;
    }
    .header{
        &__official{
            display: none;
        }
    }
    .promo{
        &__header{
            font-size: 32px;
        }
        &__subheader{
            font-size: 21px;
        }
    }
    .advantages{
        &__description{
            width: 230px;
        }
        &__section{
            &:nth-child(3){
                display: block;
                margin: 0 auto;
            }
        }
    }
    .feedback{
        padding: 80px 0 88px 0;
        &__subtitle{
            line-height: 25px;
            text-align: center;
        }
    }
    .title{
        &_left{
            font-size: 23px;
            line-height: 40px;
        }
        &_thin{
            font-size: 19px;
            font-weight: 700;
        }
    }
    .input-form{
        flex-wrap: wrap;
        align-items:center;
    }
    .catalog{
        &__tabs{
            flex-direction: column;
            margin-top: 15px;
        }
        &__tab{
            transform: skewX(0);
            margin-top: 7px;
            div{
                transform: skewX(0);
            }
        }
        &__items{
            flex-direction: column;
            align-items: center;
        }
    }
    .card{
        margin-right: 0;
    }
    .modal{
        width: 350px;
        padding: 25px 20px;
    }
}
@media (max-width: 576px){
    .container{
        width: 250px;
    }
    .header{
        &__logo{
            width: 100%;
            padding-right: 10px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        &__phone{
            font-size: 13px;
        }
    }
    .button{
        width: 130px;
        height: 30px;
        line-height: 11px;
        font-size: 11px;
        &_small{
            width: 115px;
            font-size: 11px;
            line-height: 11px;
        }
    }
    .promo{
        &__header{
            font-size: 20px;
        }
        &__subheader{
            font-size: 12px;
        }
        &__icons{
            flex-direction: column;
            margin-top: 0;
            width: 300px;
        }
        &__icon{
            margin-top: 20px;
        }
        &__link{
            margin-top: 5px;
            font-size: 10px;
        }
    }
    .button_main{
        margin-top: 30px;
        width: 180px;
        font-size: 11px;
        line-height: 11px;
    }
    .advantages{
        &__icons{
            flex-direction: column;
            justify-content: center;
            align-items:center;
        }
    }
    .title{
        font-size: 20px;
        &_thin{
            font-size: 16px;
        }
    }
    .feedback{
        padding: 80px 0 88px 0;
        &__subtitle{
            line-height: 20px;
            font-size: 12px;
            margin-top: 0;
        }
    }
    .title{
        &_left{
            font-size: 17px;
            line-height: 25px;
        }
        br{
            display: none;
        }
    }
    .input-form{
        margin-top: 25px;
        flex-wrap: wrap;
        align-items:center;
        input{
            width: 200px;
            height: 38px;
        }
        &_small{
            margin-top: 10px;
        }
    }
    .button_submit{
        width: 186px;
        height: 38px;
        font-size: 10px;
        line-height: 10px;
    }
    .slider{
        &__prev-btn{
            img{
                width: 20px;
            }
        }
        &__next-btn{
            img{
                width: 20px;
            }
        }
    }
    .catalog{
        &__tab{
            &:hover{
                box-shadow: none;
                border: none;
            }
        }
    }
    .card{
        &__price-new{
            font-size: 15px;
        }
    }

    .reviews{
        &__block{
            flex-direction: column;
            justify-content: center;
            align-items:center;
            margin-top: 20px;
        }
        &__img{
            margin-right: 0;
            width: 120px;
            height: 120px;
            margin-bottom: 10px;
            img{
                width: 120px;
                height: 120px;
            }
        }
        &__text{
            text-align: center;
            br{
                display: none;
            }
        }
        &__name{
            font-size: 16px;
        }
        &__description{
            line-height: 19px;
            font-size: 14px;
        }
        &__achivements{
            font-size: 12px;
        }
    }

    .footer{
        iframe{
            height: 380px;
        }
        &__contacts{
            width: 280px;
            height: 140px;
            padding: 20px 0;
        }
        &__icon{
            img{
                width: 35px;
                height: 35px;
            }
        }
        &__tel{
            font-size: 18px;
            margin-top: 10px;
        }
        &__icons{
            margin-top: 15px;
        }
        &__adress{
            font-size: 18px;
        }
    }
    .modal{
        min-height: 277px;
        width: 240px;
        padding: 10px 20px;
        h2{
            margin-top: 6px;
        }
        &_small{
            min-height: 100px;
        }
    }
}