@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';

* {
    font-family: 'Museo Sans Cyrl';
}

@import 'base/animation';

.container{
    position: relative;
    width: 950px;
    margin: 0 auto;
}
@import 'base/_mixins.scss';
@import 'base/_variable.scss';
@import 'blocks/_promo.scss';
@import 'blocks/_header.scss';
@import 'blocks/_button.scss';
@import 'blocks/_advantages';
@import 'blocks/_title.scss';
@import 'blocks/_feedback.scss';
@import 'blocks/_form.scss';
@import 'blocks/slider';
@import 'blocks/catalog';
@import 'blocks/card';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/scroll-top';

@import 'base/_media.scss';