.advantages{
    padding: 73px 0 65px 0;
    min-height: 473px;
    background: #F6F6F6;
    &__icons{
        display: flex;
        justify-content: space-between;
    }
    &__icon{
        display: block;
        margin: 0 auto;
        width: 70px;
        height: 70px;
        margin-top: 60px;
        &_animated {
            animation: heartbeat 2s ease 5 normal;
        }
    }
    &__title{
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;
        margin-top: 35px;
    }
    &__description{
        width: 269px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
        margin-top: 20px;
        a{
            text-decoration-line: underline;
            color: #FF0000;
        }
    }
}